$loginMainBgc: #212121;
$loginSecondaryBgc: #474747;
$loginFontColor: #EEEEEE;
$loginGoldColor: #ffd600;

.loginMainDiv{
    width:100vw;
    height: 100vh;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: $loginMainBgc;
    color: $loginFontColor;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .loginDirectDiv{
        width:350px;
        height:500px;
        margin:10px;

        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        background-color: $loginSecondaryBgc;
        border-radius: 20px;

        .loginHeader{
            color: $loginFontColor;
            font-size: 36px;
            span{
                color: $loginGoldColor;
                text-decoration: underline;
            }
        }

        .loginForm{
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .loginFormEmail, .loginFormPassword{
                margin:7px;
                font-size: 20px;
                width:220px;
                padding:10px;
                background-color: $loginSecondaryBgc;
                color: $loginFontColor;
                border: 2px solid $loginFontColor;
                border-radius: 8px;
            }

            .loginFormEmail:focus, .loginFormPassword:focus{
                outline:none;
                border:2px solid $loginGoldColor;
            }

            .loginParError{
                margin: 3px 0 12px 0;
                color: red;
                font-size: 12px;;
            }

            .loginFormButton{
                margin:7px;
                color: $loginFontColor;
                font-weight: 700;
            }
        }

        .loginGoogle{
            padding:3px 20px;
            border: 2px solid $loginGoldColor;
            color: $loginGoldColor;
        }
    }

    .goToRegisterDiv{
        width:350px;
        height:80px;
        margin:10px;

        display:flex;
        justify-content: center;
        align-items: center;

        background-color: $loginSecondaryBgc;
        border-radius: 20px;

        a{
            color: $loginGoldColor;
        }
    }
}
