.MuiFormControl-root {
  .MuiOutlinedInput-root {
    margin-right: 20px;
  }
  .MuiOutlinedInput-root:hover {
    fieldset {
      border-color: #b49600;
    }
  }
  .Mui-focused {
    fieldset {
      border-color: #b49600 !important;
    }
  }
  fieldset {
    border-color: #ffd500;
  }
  label {
    &.Mui-focused {
      color: #b49600;
    }
  }
}

.MuiFormControl-root:last-of-type {
  .MuiOutlinedInput-root {
    margin-right: 0;
  }
}

.MuiModal-root {
  .MuiPaper-root {
    .MuiList-root {
      .Mui-selected {
        background-color: #ffd50083;
      }
    }
  }
}

.MuiMenuItem-root {
  position: relative;
  height: 36px;
}

.MuiMenuItem-root > a {
  position: absolute;
  width: 114px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 1px;
  padding-right: 15px;
}
