* {
  font-family: "Ubuntu", sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}
html {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.displayed {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.MuiPaper-root {
  a {
    width: 116px;
    height: 36px;
    display: flex;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    color: black;
  }
}
